#datos{
    margin: 20px;
    border: 1px solid black;
    height: 600px;
    background-color: rgb(199, 148, 38);
    width: 40%;
    padding: 25px;
    border: 3px solid black;
    }
    
    #respuesta{
        font-size: 15px;
        font-family: Courier;
        text-align: center;
    }
    
    .texto{
    font-size: 24px;
    font-family: 'Gill Sans';
    }
    
    table {
        table-layout: fixed;
        width: 100%;
      }
      
      thead th:nth-child(1) {
        width: 30%;
      }
      
      thead th:nth-child(2) {
        width: 20%;
      }
      
      thead th:nth-child(3) {
        width: 15%;
      }
      
      thead th:nth-child(4) {
        width: 35%;
      }
      
      th, td {
        padding: 20px;
      }
      td{
        border: 3px solid black;
        background-color: gainsboro;
        text-align: center;
      }
      td:nth-child(even) {
        background-color: rgb(245, 244, 244);
      }